<li>
  <div class="row">
    <div class="col-sm-2 preview abbr">
      {% if pub.preview %}
        <figure>
          <img src="{{ '/assets/img/publication_preview/' | append: pub.preview | relative_url }}" class="preview rounded" width="100%" height="auto" alt="{{ pub.title | escape }}" loading="lazy">
        </figure>
      {% endif %}
      {% if pub.abbr %}<abbr class="badge">{{ pub.abbr }}</abbr>{% endif %}
    </div>
    <div class="col-sm-10">
      <div class="title">{{ pub.title }}</div>
      <div class="author">
        {% for a in pub.authors %}
          {% if a.me %}<em>{{ a.name }}</em>{% elsif a.url %}<a href="{{ a.url }}" target="_blank" rel="noopener">{{ a.name }}</a>{% else %}{{ a.name }}{% endif %}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
      <div class="periodical">
        <em><strong>{{ pub.venue }}.</strong></em>{% if pub.venue_full %} <em>{{ pub.venue_full }}</em>{% endif %}
      </div>
      <div class="links">
        {% if pub.abstract %}<a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>{% endif %}
        {% if pub.paper %}<a href="{{ pub.paper }}" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener">Paper</a>{% endif %}
        {% if pub.bibtex %}<a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>{% endif %}
      </div>
      {% if pub.abstract %}
        <div class="abstract hidden"><p>{{ pub.abstract | escape }}</p></div>
      {% endif %}
      {% if pub.bibtex %}
        <div class="bibtex hidden"><pre>{{ pub.bibtex | escape }}</pre></div>
      {% endif %}
    </div>
  </div>
</li>
